/* 全局盒模型设置 */
/* 对所有元素、伪元素::after和::before应用border-box盒模型 */
/* 什么是伪元素?
 * 伪元素是CSS3新增的一种选择器，它允许你向某些选择器设置特殊的效果。
 * 伪元素是通过添加到选择器的关键字来实现的，这些关键字以两个冒号开头，比如::before和::after。
 * 伪元素可以用来设置元素的样式，比如设置元素的背景颜色、字体样式、边框样式等等。
 */
*,
::after,
::before {
  /* 使用的是border-box盒模型，这种盒模型更直观，元素的padding和border都包含在width和height内 */
  box-sizing: border-box;
}
/* 设置全局页面样式 */
body {
  /* 定义字体栈，优先使用系统字体，确保跨平台兼容性 */
  font-family:
    -apple-system, BlinkMacSystemFont, PingFangSC-Regular, "PingFang SC",
    "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  /* 设置基础字体大小为14px */
  font-size: 14px;
  /* 启用字体抗锯齿，使字体在WebKit浏览器中更清晰 */
  -webkit-font-smoothing: antialiased;
  /* 设置默认文本颜色为深灰色 */
  color: #494d55;
}
/* 设置图片的垂直对齐方式为底部对齐，避免图片下方出现空白间隙 */
img {
  vertical-align: bottom;
}

/* 移除无序列表的默认项目符号 */
ul {
  list-style-type: none;
}

/* 设置链接的默认样式 */
a {
  /* 设置链接文本颜色为深灰色 */
  color: #494d55;
  /* 移除链接的默认下划线 */
  text-decoration: none;
  /* 在移动端点击链接时，移除默认的高亮背景色 */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/** 导航栏 */
.bg-body-tertiary {
  background-color: transparent !important;
}
.navbar {
  transition: all 0.5s;
}
.bg-body-tertiary.scrolled {
  background-color: #26282c !important;
  padding: 0;
}
.navbar-brand .logo {
  width: 200px;
  height: 40px;
  margin-bottom: 0;
  font-size: 0;
  background-image: url(../assets/images/logo.svg);
  background-size: contain;
}
.navbar-collapse {
  flex-grow: 0;
}
.navbar .nav-item {
  margin-left: 20px;
  padding-top: 10px;
  font-size: 16px;
}
.navbar .nav-link {
  color: rgba(255, 255, 255, 0.55);
}
.navbar .nav-link:not(.no-hover):hover {
  color: rgb(242 181 53);
}
.navbar .nav-item:nth-child(1) .nav-link {
  color: rgb(242 181 53);
}
.navbar .nav-item:nth-child(4) .nav-link::before {
  content: "";
  display: inline-block;
  width: 13px;
  height: 15px;
  background-image: url(../assets/images/fire.png);
  background-size: contain;
  vertical-align: middle;
}
.navbar .nav-item:nth-child(4) .nav-link {
  background-image: linear-gradient(
    to right,
    rgb(205, 220, 57),
    rgb(255, 152, 0) 25%,
    rgb(205, 220, 57) 50%,
    rgb(255, 152, 0) 75%,
    rgb(205, 220, 57)
  );
  -webkit-background-clip: text;
  background-clip: text;
}

/* 轮播图 */
.carousel-item img {
  height: 500px;
  object-fit: cover;
}
.carousel-item:nth-child(1) .carousel-caption {
  right: -25%;
  bottom: 30%;
}
.carousel-item h5 {
  opacity: 0;
  transition: all 0.5s;
}
.carousel-item p {
  opacity: 0;
  transition: all 0.5s;
}
.carousel-item:nth-child(1) h5 {
  font-size: 40px;
  letter-spacing: 3px;
  line-height: 60px;
  color: rgba(255, 255, 255, 0.9);
  transform: translateX(50%);
}
.carousel-item:nth-child(1) p {
  position: absolute;
  bottom: -65%;
  font-size: 50px;
  letter-spacing: 10px;
  color: hsla(0, 0%, 100%, 0.8);
  transform: translateX(-160%);
}
.carousel-item:nth-child(3) .carousel-caption {
  top: 35%;
}
.carousel-item:nth-child(3) h5 {
  font-size: 70px;
  margin-bottom: 40px;
  transform: translateY(-350%);
}
.carousel-item:nth-child(3) p {
  font-size: 40px;
  letter-spacing: 5px;
  transform: translateY(300%);
}
.carousel-item:nth-child(4) .carousel-caption {
  top: 35%;
}
.carousel-item:nth-child(4) h5 {
  font-size: 70px;
  margin-bottom: 40px;
  transform: translateY(-350%);
}
.carousel-item:nth-child(4) p {
  font-size: 40px;
  letter-spacing: 5px;
  transform: translateY(300%);
}
.carousel-item.active h5 {
  opacity: 1;
  transform: none;
}
.carousel-item.active p {
  opacity: 1;
  transform: none;
}

/* 内容 */
.container.content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-block: 40px;
}
/* 开源作品 */
.opensource-title {
  text-align: center;
}
.opensource-title h2 {
  line-height: 2em;
  margin: 0;
}
.opensource-title p {
  font-size: 16px;
  line-height: 2em;
  color: #919191;
}
.opensource .card {
  text-align: center;
  margin-bottom: 10px;
  top: 0;
  overflow: hidden;
  transition: all 0.3s ease;
}
.opensource .card:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0)
  );
  transform: skew(-25deg);
  position: absolute;
  left: -110%;
  top: 0;
}
.opensource .card:hover {
  box-shadow: 0 26px 40px -24px rgba(0, 36, 100, 0.5);
  top: -6px;
}
.opensource .card:hover:after {
  left: 110%;
  transition: all 0.3s ease;
}
.opensource-item > div:nth-child(1) .card {
  background-color: #70c3ff;
}
.opensource-item > div:nth-child(2) .card {
  background-color: #fd6a7f;
}
.opensource-item > div:nth-child(3) .card {
  background-color: #7f8ea0;
}
.opensource-item > div:nth-child(4) .card {
  background-color: #89d04f;
}
.opensource .card a {
  padding: 20px 0;
  color: #fff;
}
.opensource .card img {
  height: 60px;
}
.opensource .card-body {
  padding: 0;
}
.opensource .card-body .card-text {
  margin-bottom: 1rem;
}
.opensource-more {
  padding-top: 10px;
  padding-bottom: 10px;
}
.opensource-more a {
  display: block;
  width: 105px;
  height: 35px;
  line-height: 35px;
  margin: 0 auto;
  font-size: 14px;
  color: #616161;
  background-color: #e1e1e1;
  border-radius: 6px;
  text-align: center;
  border: 1px solid #ccc;
}
.opensource-more a:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}

/* 作品 */
.product-title {
  text-align: center;
}
.product-title h2 {
  line-height: 2em;
  margin: 0;
}
.product-title p {
  font-size: 16px;
  line-height: 2em;
  color: #919191;
}
.product .card {
  text-align: center;
  margin-bottom: 10px;
  top: 0;
  transition: all 0.3s ease;
}
.product .card:hover {
  box-shadow: 0 26px 40px -24px rgba(0, 36, 100, 0.5);
  top: -6px;
}
.product .card:hover img {
  transform: scale(1.2);
}
.product .card a {
  color: #313131;
}
.product .card-img {
  overflow: hidden;
}
.product .card img {
  width: 100%;
  transition: all 0.3s ease;
}
.product .card-body .card-title {
  font-size: 14px;
}
.product .card-body .card-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.product-more {
  padding-top: 10px;
  padding-bottom: 10px;
}
.product-more a {
  display: block;
  width: 105px;
  height: 35px;
  line-height: 35px;
  margin: 0 auto;
  font-size: 14px;
  color: #616161;
  background-color: #e1e1e1;
  border-radius: 6px;
  text-align: center;
  border: 1px solid #ccc;
}
.product-more a:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}

/* 博客 */
.blog-title {
  text-align: center;
}
.blog-title h2 {
  line-height: 2em;
  margin: 0;
}
.blog-title p {
  font-size: 16px;
  line-height: 2em;
  color: #919191;
}
.blog-item .col-lg-6 {
  margin-bottom: 10px;
}
.blog-item h3 {
  display: flex;
  font-size: 16px;
  color: #616161;
  font-weight: 500;
  justify-content: space-between;
  border: 1px solid #dee2e6;
  margin: 0;
  padding: 10px 10px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.blog-item h3 .bi {
  color: #337ab7;
}
.blog-item h3 a:hover .bi {
  color: #f2b535;
}
.blog-item .list-group-item:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.blog-item .list-group-item:nth-child(-n + 4) {
  border-bottom: 0;
  border-top: 0;
}
.blog-item .list-group-item a {
  display: flex;
  align-items: center;
  gap: 12px;
}
.blog-item .list-group-item a h5 {
  font-size: 16px;
  color: #616161;
  flex: 1;
  min-width: 0;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.blog-item .list-group-item a span {
  flex: 0 0 80px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.blog-item .card {
  margin: 0 !important;
  border-top: 0;
}
.blog-item .card:nth-child(2n-1) {
  border-right: 0;
}
.blog-item .card:nth-child(2n) {
  border-left: 0;
}
.blog-item .card:nth-child(-n + 4) {
  border-radius: 0;
  border-bottom: 0;
}
.blog-item .card:nth-child(n + 5) {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.blog-item .card:nth-child(5n) {
  border-bottom-right-radius: 0;
}
.blog-item .card:nth-child(6n) {
  border-bottom-left-radius: 0;
}
.blog-item .card .col-md-3 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.blog-item .card a:hover h5 {
  color: #f2b535;
}
.blog-item .card img {
  width: 60px;
  height: 60px;
}
.blog-item .card-body h5 {
  font-size: 16px;
  color: #333333;
}
.blog-item .card-body p {
  color: #c1c1c1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (min-width: 992px) {
  .blog-list,
  .blog-sort {
    display: flex;
    flex-direction: column;
  }
  .blog-list > h3,
  .blog-sort > h3 {
    flex-shrink: 0;
  }
  .blog-list > .list-group,
  .blog-sort > .row {
    flex: 1;
  }
  .blog-list .list-group-item {
    flex: 1;
    display: flex;
    align-items: center;
  }
  .blog-list .list-group-item > a {
    width: 100%;
  }
}

/* 超级明星 */
.superstar-title {
  text-align: center;
}
.superstar-title h2 {
  line-height: 2em;
  margin: 0;
}
.superstar-title p {
  font-size: 16px;
  line-height: 2em;
  color: #919191;
}
.superstar .card {
  text-align: center;
  margin-bottom: 10px;
  top: 0;
  transition: all 0.3s ease;
}
.superstar .card:hover {
  box-shadow: 0 26px 40px -24px rgba(0, 36, 100, 0.5);
  top: -6px;
}
.superstar .card-img {
  padding: 16px;
  padding-bottom: 0;
  background-color: #f5f8fa;
}
.superstar .card img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
.superstar .card-body {
  background-color: #f5f8fa;
}
.superstar .card-body .card-title {
  font-size: 18px;
}
.superstar .card-footer {
  color: #919191;
  border-top: 0;
  padding: 1rem 1rem;
}
.superstar-more {
  padding-top: 10px;
  padding-bottom: 10px;
}
.superstar-more a {
  display: block;
  width: 105px;
  height: 35px;
  line-height: 35px;
  margin: 0 auto;
  font-size: 14px;
  color: #616161;
  background-color: #e1e1e1;
  border-radius: 6px;
  text-align: center;
  border: 1px solid #ccc;
}
.superstar-more a:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}

/* 页脚 */
footer .col-md-5 img {
  margin-top: 10px;
  width: 200px;
}
footer .col-md-5 h6 {
  margin-top: 1rem;
}
footer .col-md-5 p {
  margin-top: 2.5rem;
}
footer .col-md-2 h6 {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
}
footer .col-md-2 li a {
  line-height: 1.5rem;
}
footer .col-md-2 li a:hover {
  text-decoration: underline;
  color: #f2b535 !important;
}
footer .card {
  background: none;
  border: none;
  padding-top: 25px;
  align-items: center;
}
footer .card img {
  width: 120px;
  height: 120px;
}
footer .card-body {
  padding-left: 0;
  padding-right: 0;
  font-size: 12px;
}
